.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.options-spacing{
  width: 100px;
  height:40px;
  border-radius: 10px;
  margin:20px;
}
.question-status{
  float:right;
  margin-right: 20px;
}
.options-frame{
  position:relative;
  display:block;
  height:100px;
  width:100%;
  margin-top:40px;
  float:left;
}
.questioni-frame{
  margin-top: 50px;
  width:100%;
}
.question{
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding-left: 60px;
}
.question-description{
  width:100%;
}
.direction-control{
  position:absolute;
  top:180px;
  left:20px;
  float:left;
}
.question-current-status{
  float:right;
}
.arrow-color{
  color:#429ef4;
  font-size: 25px;
}
.jumbotron{
  background:#429ef4 !important;
}

